@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');




* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    margin: 0px;
}

.background-container {
    min-height: 100vh;
    background-color: #F0F8FF;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 60px;
}

.header {


    position: fixed;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #B0E0E6;
    height: 75px;
    padding-left: 110px;
    padding-right: 100px;

    box-shadow: 0 1px 3px #b0bec5;
}


.klu-text {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #004466;
    align-self: center;
    margin-top: 10px;

}

.form-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 4px #b0bec5;
    margin-top: 145px;

    background-color: white;
    margin-left: 15%;
    margin-right: 15%;

    padding: 20px;
    border-radius: 10px;
    padding-top: 40px;

}

.spilt-into-two {
    display: flex;
    justify-content: space-between;
    width: 100%;


}

.button {
    width: 160px;
    height: 40px;

    border-color: #B0E0E6;
    background-color: #F0F8FF;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    box-sizing: content-box;
    padding: 6px;
    font-family: "Roboto";
    color: #004466;
}



img {
    height: 60px;

}

#result {
    margin: 0px;
    color:#E62020;
}

.each-input-card-top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    height: 45%;

}

.percentage {
    align-self: flex-start;
    margin-top: 0px;
    background-color: #F0F8FF;
    padding: 3px;
    border-radius: 6px;
    min-width: 20px;

}



input {
    box-sizing: border-box;
    height: 100%;
    background-color: #F8FAFC;
    border-width: 2px;
    border-style: solid;
    border-color: #ECF0F5;
    width: 33%;
    font-size: 12px;
    padding: 20px;
    padding-left: 10px;
    border-radius: 6px;
    
}


input:focus {
    border-color: #B0E0E6;
    /* Border color when focused */
    outline: none;
    /* Removes the default browser outline */
    border-width: 2px;

}


.each-input-card {
    box-sizing: content-box;
    padding: 20px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;

    justify-content: center;

    border-style: solid;
    margin: 20px;
    width: 50%;
    border-width: 2px;
    border-color: #E2E8F0;
    border-radius: 6px;

}

p {
    align-self: flex-end;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: bold;
    color: #004466;
}

.footer-section {
    padding: 30px;
    padding-top: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    background-color: #0d2436;
    color: #5a7184;

}

.inputs-container {
     display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    padding-bottom: 2px;
    border-style: solid;
    border-color: #E2E8F0;
    border-width: 1px;
    border-radius: 8px;
    height: 50%;
    



}

input::placeholder {
    font-size: 12px;
    color: #9ca3af; 
}


a {
    background-color: transparent;
    
    font-size:30px;
   
}
.icons-color-important-tag {
  
  color: #5a7184;
}

.icons-color-important-tag:hover {
  color:#B0E0E6;
  text-decoration: none;
}





.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom:0px;
}

.brute-force-logo {
    height: 80px;

}

.note {
    align-self: center;

    padding: 0px;
    margin: 0px;
    
    padding-top: 10px;
}

.errorNoteoff {
    display: none;
}


.mathError{
    display: none;
}
.kard {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Roboto";
    font-weight: bold;
}


.card-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    min-width: 320px;
    margin-left: 15px;
    margin-right: 35px;
}

.i-div {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #152c3e;

    border-radius: 50px;
}



.card-1-bottom-section-social-media-links {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;


}

hr {
    background-color: #5a7184;
    height: 1px !important;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
    padding:0px !important;
    padding-left: 200px !important;
    
   
}

li {
    list-style-type: none;

}

.kard-headings {
    font-size: 24px;
    font-weight: bold;

    margin: 0px;
    margin-bottom: 20px;
}

.card-2 {
    padding: 10px;
    padding-top: 0px;
}

.p {
    color: #5a7184;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top: 10px;

}
.p:hover {
  color: #B0E0E6;
  transform: translateX(4px);
  transition: all 0.3s ease;
}

.copyright-icon{
    font-size: 14px;
}

.connect-with-us {
    margin: 0px;
    padding: 0px;
}
.footer-section-copyright-paragraph{
    color: #5a7184;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top: 0px;
    padding:0px

}


.finalError{
    display: none;
}

@media (max-width:792px) {

    
    .designedByParagraph{
        display:none;
    }
    .header {
        padding-left: 10px;
        padding-right: 10px;
        height: 70px;
        
    }

    .klu-text {
        display: none;
    }

    img {
        height: 50px;
    }

    .form-block {


        margin-top: 105px;
        margin-left: 5%;
        margin-right: 5%;
        box-shadow: 0 1px 2px #b0bec5;

        border-radius: 4px;
        padding-top: 20px;

    }

    .spilt-into-two {
        display: flex;
        flex-direction: column;
        padding: 0px;
        width: 100%;


    }

    .each-input-card {
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px;
        margin-bottom: 8px;
        padding-top: 5px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        border-style: solid;

        width: 100%;
        border-width: 2px;
        border-color: #E2E8F0;
        border-radius: 8px;

    }

    .each-input-card-top-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: flex-end;
        height: 10%;


    }

    input {
        padding: 12px;
    }

    .footer-section {
        display: none;
    }

}